.bg-img1 {
  background-color: #000;
  background-size: cover;
  background-image: url("galaxy1.jpg");
  height: 500px;
}

.bg-img2 {
  background-color: #000;
  background-size: cover;
  background-image: url("img/galaxy2.jpg");
  height: 500px;
}

.bg-img3 {
  background-color: #000;
  background-size: cover;
  background-image: url("img/galaxy3.jpg");
  height: 500px;
}
